<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PointCloudConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PointCloudConverter.Properties.Settings>
            <setting name="useScale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scale" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="inputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="swapYZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readRGB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useAutoOffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="maxImportPointCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="randomize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gridSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="minimumPointCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="packMagic" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="skipEveryN" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="keepEveryN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="useMaxFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxFileCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useMinPointCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePackMagic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useMaxImportPointCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useKeep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useMaxFileCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="packColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="exportFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="lastImportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="lastExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="importIntensity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importRGB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="invertZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="invertX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customintensityrange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openOutputFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useManualOffset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="manualOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="manualOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="manualOffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useRandomSeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="seed" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="useJSON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="metadataOnly" serializeAs="String">
                <value>False</value>
            </setting>
        </PointCloudConverter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
