<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PointCloudConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <PointCloudConverter.Properties.Settings>
            <setting name="useScale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scale" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="inputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="flipYZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="readRGB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useAutoOffset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="randomize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gridSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="minimumPointCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="packColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="packMagicValue" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="skipPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skipEveryN" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="keepPoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepEveryN" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="useMaxFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxFiles" serializeAs="String">
                <value>0</value>
            </setting>
        </PointCloudConverter.Properties.Settings>
    </userSettings>
</configuration>